{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "*.js"
      ],
      "rules": {
        // "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "rules": {
    "no-var": 0
  },
  "env": {
    "node": true,
    "browser": true,
    "amd": true
  },
  "extends": [
    "prettier"
  ]
}
