{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "jsxBracketSameLine":true,
  "overrides": [
    {
      "files": "src/components/main/data-better.js",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
