.meals{
    h1{
        font-size: 2em;
        font-variant-caps: all-small-caps;
    }
    h2{
        font-size: 1.5em;
        font-variant-caps: all-small-caps;
    }
    h3{
        font-size: 1.5em;
    }
    p{
        font-size: 0.8em;
        font-style: italic;
        margin-bottom: -2em;
    }

}