@import url("https://fonts.googleapis.com/css?family=Roboto:wght@100&display=swap");
h1,
h2,
h3,
h4,
h5 h6 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  // line-height: 32px;
  color: #818181;
  // letter-spacing: 0.64px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  // font-weight: 400;
}

.meals {
  h1 {
    font-size: 2.5em;
    font-variant-caps: all-small-caps;
  }
  h2 {
    font-size: 1.6em;
    font-variant-caps: all-small-caps;
  }
  h3 {
    font-variant-caps: all-small-caps;
    font-size: 1.2em;
  }
  p {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: -2em;
  }
}

.gymRoutine {
  text-align: left;
  h2 {
    font-size: 1.2em;
    font-variant-caps: all-small-caps;
  }
}

.reactTabs {
  margin-left: 0%;
  @media only screen and (max-width: 600px) {
    margin-left: 0%;
    padding-left: 0%;
  }
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    //   border-bottom: 1px solid rgb(213, 37, 37);
    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    //   border: 1px solid transparent;
    //   border-bottom: 2px solid;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    font-variant-caps: all-small-caps;
    font-weight: 500;
    white-space: pre-wrap;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";

    &--selected {
      background: #fff;
      border-color: rgb(253, 0, 0);
      color: rgb(8, 94, 169);
      border-bottom: 2px solid;
      border-radius: 5px 5px 0 0;
      border-bottom-color: rgb(8, 94, 169);
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}
